body {
  background-color: grey;
  display: flex;
  justify-content: center;
  border: 2px solid red;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.container {
  margin-top: 36px;
}
input {
  margin-left: 12px;
}
form {
  justify-content: center;
  align-items: center;
  border: 2px solid yellow;
  padding: 24px;
}
button {
  margin-left: 30%;
}
